.about-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.about-subtitle {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.about-stacking-cards {
  background-color: #f6e5cf;
  position: relative;
  z-index: 2;
}

.vision-text {
  --desktop-font-weight: 1000;
  --desktop-font-size: 1.29rem;
  --mobile-font-weight: 800;
  --mobile-font-size: 1.15rem;

  font-family: 'Cormorant Garamond', serif;
  font-weight: var(--desktop-font-weight);
  font-size: var(--desktop-font-size);
}

@media (max-width: 768px) {
  .vision-text {
    font-weight: var(--mobile-font-weight);
    font-size: var(--mobile-font-size);
  }
}

.experience-image {
  width: 80%; /* Default size for desktop */
  margin: 0 auto;
}

@media (max-width: 768px) {
  .experience-image {
    width: 90%; /* Larger size for mobile */
  }
}
