@media (max-width: 768px) {
    .card {
        width: 90%;
        padding: 20px;
        height: auto;
        min-height: 400px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-description {
        font-size: 1rem;
    }

    .card-2, .card-3, .card-4 {
        margin-top: 150px;
    }
}
